In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('train.csv')

In [3]:
cols_to_drop = ['PassengerId','Name','SibSp','Parch','Ticket','Cabin','Embarked']

In [4]:
data.drop(cols_to_drop,axis = 1,inplace = True)

In [5]:
x = data.drop('Survived',axis = 1)
y = data.Survived

In [6]:
x.head()

   Pclass     Sex   Age     Fare
0       3    male  22.0   7.2500
1       1  female  38.0  71.2833
2       3  female  26.0   7.9250
3       1  female  35.0  53.1000
4       3    male  35.0   8.0500

In [7]:
y.head()

0    0
1    1
2    1
3    1
4    0
Name: Survived, dtype: int64

In [8]:
len(x)

891

In [9]:
len(y)

891

In [10]:
x.isna().sum()

Pclass      0
Sex         0
Age       177
Fare        0
dtype: int64

In [11]:
x.Age = x.Age.fillna(x.Age.mean())

In [12]:
x.isna().sum()

Pclass    0
Sex       0
Age       0
Fare      0
dtype: int64

In [13]:
x = pd.get_dummies(x)

In [14]:
x.head()

   Pclass   Age     Fare  Sex_female  Sex_male
0       3  22.0   7.2500           0         1
1       1  38.0  71.2833           1         0
2       3  26.0   7.9250           1         0
3       1  35.0  53.1000           1         0
4       3  35.0   8.0500           0         1

In [15]:
from sklearn.model_selection import train_test_split

In [16]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.2)

In [17]:
len(x_train)

712

In [18]:
len(x_test)

179

In [19]:
from sklearn.naive_bayes import GaussianNB

In [20]:
model = GaussianNB()

In [21]:
model.fit(x_train,y_train)

GaussianNB()

In [22]:
model.score(x_train,y_train)

0.7851123595505618

In [23]:
model.score(x_test,y_test)

0.7653631284916201

In [24]:
y_test[:10]

637    0
169    0
154    0
276    0
587    1
114    0
137    0
797    1
198    1
389    1
Name: Survived, dtype: int64

In [25]:
model.predict(x_test[:10])

array([0, 0, 0, 1, 0, 1, 0, 1, 1, 1], dtype=int64)

In [26]:
model.predict_proba(x_test[:10])

array([[0.97918784, 0.02081216],
       [0.98260512, 0.01739488],
       [0.99116245, 0.00883755],
       [0.06238063, 0.93761937],
       [0.64363484, 0.35636516],
       [0.05095458, 0.94904542],
       [0.89006214, 0.10993786],
       [0.06612965, 0.93387035],
       [0.06522738, 0.93477262],
       [0.02299525, 0.97700475]])

In [27]:
x_test

     Pclass        Age      Fare  Sex_female  Sex_male
637       2  31.000000   26.2500           0         1
169       3  28.000000   56.4958           0         1
154       3  29.699118    7.3125           0         1
276       3  45.000000    7.7500           1         0
587       1  60.000000   79.2000           0         1
..      ...        ...       ...         ...       ...
631       3  51.000000    7.0542           0         1
660       1  50.000000  133.6500           0         1
724       1  27.000000   53.1000           0         1
864       2  24.000000   13.0000           0         1
18        3  31.000000   18.0000           1         0

[179 rows x 5 columns]

In [28]:
x_train

     Pclass        Age      Fare  Sex_female  Sex_male
340       2   2.000000   26.0000           0         1
273       1  37.000000   29.7000           0         1
225       3  22.000000    9.3500           0         1
810       3  26.000000    7.8875           0         1
0         3  22.000000    7.2500           0         1
..      ...        ...       ...         ...       ...
598       3  29.699118    7.2250           0         1
856       1  45.000000  164.8667           1         0
803       3   0.420000    8.5167           0         1
289       3  22.000000    7.7500           1         0
490       3  29.699118   19.9667           0         1

[712 rows x 5 columns]

# email spam detection using naive bayes

In [29]:
import pandas as pd

In [30]:
df  = pd.read_csv('spam.csv')

In [31]:
df.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [32]:
df.groupby('Category').describe()

         Message                                                            \
           count unique                                                top
Category
ham         4825   4516                             Sorry, I'll call later
spam         747    641  Please call our customer service representativ...


         freq
Category
ham        30
spam        4

In [33]:
df['spam'] = df['Category'].apply(lambda x : 1 if x == 'spam' else 0)

In [34]:
df

     Category                                            Message  spam
0         ham  Go until jurong point, crazy.. Available only ...     0
1         ham                      Ok lar... Joking wif u oni...     0
2        spam  Free entry in 2 a wkly comp to win FA Cup fina...     1
3         ham  U dun say so early hor... U c already then say...     0
4         ham  Nah I don't think he goes to usf, he lives aro...     0
...       ...                                                ...   ...
5567     spam  This is the 2nd time we have tried 2 contact u...     1
5568      ham               Will ü b going to esplanade fr home?     0
5569      ham  Pity, * was in mood for that. So...any other s...     0
5570      ham  The guy did some bitching but I acted like i'd...     0
5571      ham                         Rofl. Its true to its name     0

[5572 rows x 3 columns]

In [35]:
from sklearn.model_selection import train_test_split

In [36]:
x_train,x_test,y_train,y_test = train_test_split(df.Message,df.spam,test_size = 0.25)

In [37]:
x_train.shape

(4179,)

In [38]:
x_train.values

array(['So now my dad is gonna call after he gets out of work and ask all these crazy questions.',
       'i dnt wnt to tlk wid u',
       'Ok but knackered. Just came home and went to sleep! Not good at this full time work lark.',
       ..., "Nah, I'm a perpetual DD",
       "Aight I'll grab something to eat too, text me when you're back at mu",
       'I know you are. Can you pls open the back?'], dtype=object)

In [39]:
from sklearn.feature_extraction.text import CountVectorizer
v = CountVectorizer()
x_train_count = v.fit_transform(x_train.values)
x_train_count.toarray()[:3]

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [40]:
x_train_count.shape

(4179, 7515)

In [41]:
from sklearn.naive_bayes import MultinomialNB
model = MultinomialNB()
model.fit(x_train_count,y_train)

MultinomialNB()

In [42]:
emails = [
    "Hey Umair, can we get together to watch football game tomorrow?",
    "Upto 20% discount on parking, exclusive offer just for you. Don't miss this reward!",
    "What are you waiting for? You can place the order at no obligation today"
]

In [43]:
emails_count = v.transform(emails)

In [44]:
emails_count.shape

(3, 7515)

In [45]:
model.predict(emails_count)

array([0, 1, 0], dtype=int64)

In [46]:
model.score(x_train_count,y_train)

0.9930605407992342

In [47]:
x_test_count = v.transform(x_test)

In [48]:
model.score(x_test_count,y_test)

0.9870782483847811

In [49]:
from sklearn.pipeline import Pipeline
clf = Pipeline([
    ('vectorizer',CountVectorizer()),
    ('nb',MultinomialNB())
])

In [50]:
clf.fit(x_train,y_train)

Pipeline(steps=[('vectorizer', CountVectorizer()), ('nb', MultinomialNB())])

In [51]:
clf.score(x_train,y_train)

0.9930605407992342

In [52]:
clf.score(x_test,y_test)

0.9870782483847811

# Exercise

In [53]:
import pandas as pd

In [54]:
from sklearn.datasets import load_wine

In [55]:
data = load_wine()

In [56]:
dir(data)

['DESCR', 'data', 'feature_names', 'frame', 'target', 'target_names']

In [57]:
df = pd.DataFrame(data.data,columns = data.feature_names)

In [58]:
df['target'] = data.target

In [59]:
df.head()

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline,target
0,14.23,1.71,2.43,15.6,127.0,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065.0,0
1,13.20,1.78,2.14,11.2,100.0,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050.0,0
2,13.16,2.36,2.67,18.6,101.0,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185.0,0
3,14.37,1.95,2.50,16.8,113.0,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480.0,0
4,13.24,2.59,2.87,21.0,118.0,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735.0,0

In [60]:
data.target_names

array(['class_0', 'class_1', 'class_2'], dtype='<U7')

In [61]:
df.shape

(178, 14)

In [62]:
x = df.drop('target',axis =1)
y = df.target

In [63]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.2)

In [64]:
from sklearn.naive_bayes import MultinomialNB

In [65]:
model = MultinomialNB()

In [66]:
model.fit(x_train,y_train)

MultinomialNB()

In [67]:
model.score(x_train,y_train)

0.8591549295774648

In [68]:
model.score(x_test,y_test)

0.7777777777777778

In [69]:
from sklearn.naive_bayes import BernoulliNB

In [70]:
model1 = BernoulliNB()

In [71]:
model1.fit(x_train,y_train)

BernoulliNB()

In [72]:
model1.score(x_train,y_train)

0.4014084507042254

In [73]:
model1.score(x_test,y_test)

0.3888888888888889