In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
tips = sns.load_dataset("tips")

In [4]:
tips.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [5]:
tips.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    category
 3   smoker      244 non-null    category
 4   day         244 non-null    category
 5   time        244 non-null    category
 6   size        244 non-null    int64
dtypes: category(4), float64(2), int64(1)
memory usage: 7.4 KB

In [6]:
tips.describe()

       total_bill         tip        size
count  244.000000  244.000000  244.000000
mean    19.785943    2.998279    2.569672
std      8.902412    1.383638    0.951100
min      3.070000    1.000000    1.000000
25%     13.347500    2.000000    2.000000
50%     17.795000    2.900000    2.000000
75%     24.127500    3.562500    3.000000
max     50.810000   10.000000    6.000000

In [12]:
tips.isnull().sum()

total_bill    0
tip           0
sex           0
smoker        0
day           0
time          0
size          0
dtype: int64

In [14]:
x = tips.drop('tip',axis = 1)

In [15]:
y = tips.tip

In [17]:
x.head()

   total_bill     sex smoker  day    time  size
0       16.99  Female     No  Sun  Dinner     2
1       10.34    Male     No  Sun  Dinner     3
2       21.01    Male     No  Sun  Dinner     3
3       23.68    Male     No  Sun  Dinner     2
4       24.59  Female     No  Sun  Dinner     4

In [27]:
from sklearn.preprocessing import LabelEncoder

In [31]:
sex_le = LabelEncoder() # takes only 1D array
smoker_le = LabelEncoder()
day_le = LabelEncoder()
time_le = LabelEncoder()

In [32]:
x['sex_n'] = sex_le.fit_transform(x['sex'])
x['smoker_n'] = sex_le.fit_transform(x['smoker'])
x['day_n'] = sex_le.fit_transform(x['day'])
x['time_n'] = sex_le.fit_transform(x['time'])

In [34]:
x1 = x[['size','total_bill','sex_n','smoker_n','day_n','time_n']]

In [43]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x1,y,test_size = 0.2,random_state = 33)

In [44]:
x_train.shape

(195, 6)

In [45]:
x_test.shape

(49, 6)

In [46]:
x_train.head()

     size  total_bill  sex_n  smoker_n  day_n  time_n
91      2       22.49      1         0      0       0
243     2       18.78      0         0      3       0
240     2       27.18      0         1      1       0
184     2       40.55      1         1      2       0
242     2       17.82      1         0      1       0

In [91]:
from sklearn.tree import DecisionTreeRegressor

In [94]:
reg = DecisionTreeRegressor()

In [95]:
reg.fit(x_train,y_train)

DecisionTreeRegressor()

In [96]:
reg.score(x_train,y_train)

1.0

In [97]:
reg.score(x_test,y_test)

-0.6955396009572408

In [98]:
y_pred = reg.predict(x_test)

In [99]:
from sklearn.metrics import mean_squared_error
mean_squared_error(y_test,y_pred)

2.6813653061224487

In [100]:
np.sqrt(mean_squared_error(y_test,y_pred))

1.637487498004931

In [101]:
from sklearn.model_selection import cross_val_score
cross_val_score(reg,x_train,y_train,cv = 10)

array([-0.01887137, -0.40048086, -1.31979137, -0.0363774 ,  0.0456654 ,
       -0.08168957,  0.2385529 , -0.29323551,  0.1172351 ,  0.31324675])